@import "../../style/global.style.scss";
@import "../../style/common.scss";
.main-tit {
  height: 100vh;
  .main-tit-tle {
    position: relative;
    top: 70px;
    padding: 0% 17.5%;
    .main-tit-ment {
      text-align: center;
      font-family: "PretendardBold";
      font-weight: 500;
      font-size: 6rem;
      color: $red;
      img {
        position: absolute;
      }
      a{
        z-index: 30;
      }
      .main-tit-ment-1 {
        img {
          width: 8vw;
          position: relative;
          top: 20px;
          right: 10px;
        }
      }
      .main-tit-ment-2 {
        a {
          position: relative;
          right: 70px;
        }
      }
      .main-tit-ment-3 {
        .img-3-1 {
          width: 17vw;
          position: relative;
          top: 10px;
          right: 20px;
        }
        .ment-third{
            position: relative;
            left: 5px;
        }
        .img-3-2 {
          width: 8vw;
          bottom: 135px;
          right: 410px;
        }
      }
      .ment-four{
          position: relative;
          right: 5px;
      }
    }
  }
}
