@import '../../style/global.style.scss';
@import '../../style/common.scss';
.header-tit{
    background-color: $red;
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 15px 30px;
    border-radius: 200px;
    position: fixed;
    top: 14px;
    align-items: center;
    z-index: 100;
    .header-tit-logo{
        img{
            width: 5vw;
        }
    }
    .header-tit-buttons{
        font-size: 12px;
        .header-home{
            color: white;
            padding-right: 20px;
        }
        .header-viewclass{
            color: white;
            padding-right: 20px;
        }
        .header-habittest{
            color: white;
        }
    }
}
.header-t{
    display: flex;
    justify-content: center;
}